body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: hsl(0deg 0% 15%);
  background: hsl(0deg 0% 90%);
  margin: 0 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: hsl(216deg 100% 45%);
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

kbd {
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	font-size: 0.75em;
	padding: 0 0.5em;
	border: 1px solid;
	background-color: hsl(0deg 0% 94%);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1440px;
}

.post {
  margin: 0 auto;
  max-width: 1440px;
}

.column {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.card {
  margin-block-end: 1rem;
  padding: 0 1rem;
  width: 100%;
  border: solid hsl(0deg 0% 0% / 10%);
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem hsl(0deg 0% 0% / 10%);
}

@keyframes shimmer {
  100% {
    background: hsl(0deg 0% 75%);
  }
}

.skeleton-line {
  margin: 1rem;
  height: 1rem;
  animation: shimmer 1s alternate infinite;
  background: hsl(0deg 0% 50%);
}
