body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: hsl(0deg 0% 15%);
  background: hsl(0deg 0% 90%);
  margin: 0;
  overflow-wrap: break-word;
  hyphens: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.25em;
  text-align: center;
  margin-block: 0.5em;
}

a {
  color: hsl(216deg 100% 45%);
  font-weight: bold;
  text-decoration: none;
  transition: 0.15s;
}

a:hover, a:focus {
  background-color: hsl(30deg 80% 90%);
  border-radius: 0.25rem;
  text-decoration: underline;
}

kbd {
  background: linear-gradient(180deg, hsl(0deg 0% 86%), hsl(0deg 0% 94%));
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-weight: bold;
  font-size: 0.75em;
  padding-block: 0.1em;
  padding-inline: 0.3em;
  border: 1px solid;
  border-radius: 0.5em;
  margin-inline: 0.2em;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(360px, 100%), 1fr));
  grid-gap: 1rem;
  inline-size: min(100% - 2rem, 1440px);
  margin-inline: auto;
  margin-block-end: 1rem;
}

.skeleton-line {
  block-size: 1rem;
  margin-block: 1rem;
  animation: shimmer 1s alternate infinite;
  background: hsl(0deg 0% 50%);
}

@keyframes shimmer {
  100% {
    background: hsl(0deg 0% 75%);
  }
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: solid hsl(0deg 0% 55% / 0.1);
  border-radius: 1rem;
  box-shadow:
    0px 1px 1.1px hsl(0deg 0% 69% / 0.17),
    0px 2.3px 2.6px -0.6px hsl(0deg 0% 69% / 0.17),
    0px 4.3px 4.8px -1.2px hsl(0deg 0% 69% / 0.17),
    0px 8.4px 9.5px -1.9px hsl(0deg 0% 69% / 0.17),
    0.1px 16px 18px -2.5px hsl(0deg 0% 69% / 0.17);
}

.card > * {
  margin: 0; /* Margins for children elements are already handled by gap in .card */
}

.post {
  inline-size: min(100% - 2rem, 1440px);
  margin-inline: auto;
}
