html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-block-size: 100dvh;
  color: hsl(0deg 0% 15%);
  background: radial-gradient(circle at top, hsl(216deg 10% 95%), hsl(216deg 15% 90%) 40%);
  margin: 0;
  overflow-wrap: break-word;
  hyphens: auto;
}

header, footer {
  display: flex;
  align-items: center;
  inline-size: min(100% - 16px, 1440px);
  padding-block: 16px;
  margin-inline: auto;
  position: relative;
}

header {
  justify-content: space-between;
  margin-block-end: 16px;
}

footer {
  flex-direction: column;
  gap: 8px;
  margin-block-start: 16px;
}

header::after, footer::before {
  content: "";
  position: absolute;
  left: 5%;
  inline-size: 90%;
  block-size: 2px;
  --shade: 50% 70%;
  background: linear-gradient(90deg,
      hsl(360deg var(--shade)),
      hsl(315deg var(--shade)),
      hsl(270deg var(--shade)),
      hsl(225deg var(--shade)),
      hsl(180deg var(--shade)),
      hsl(135deg var(--shade)),
      hsl(90deg var(--shade)),
      hsl(45deg var(--shade)),
      hsl(0deg var(--shade)));
}

header::after {
  bottom: -4px;
}

footer::before {
  top: 4px;
}

header * {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  min-block-size: 20px;
  font-size: 16px;
  padding: 4px;
  background: hsl(0deg 100% 100%);
  border: 1px solid hsl(216deg 30% 80%);
}

/* Hide magnifying glass on Safari */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

a > svg {
  vertical-align: middle;
}

header > nav {
  display: none;
}

@media (min-width: 34.375rem) {
  header > nav {
    display: initial;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 8px;
}

@media (min-width: 34.375rem) {
  .footer-links {
    display: none;
  }
}

main {
  min-inline-size: 0;
}

form > button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

h1 {
  font-size: 2.25em;
  margin-block: 0.5em;
}

a, form > button {
  color: hsl(216deg 100% 45%);
  font-weight: bold;
  text-decoration-color: transparent;
  text-underline-offset: 0.1em;
  transition: 500ms;
}

a:hover, a:focus, form > button:hover, form > button:focus {
  background: hsl(30deg 80% 90%);
  border-radius: 4px;
  text-decoration-color: currentColor;
  transition: 150ms;
}

kbd {
  background: linear-gradient(180deg, hsl(0deg 0% 86%), hsl(0deg 0% 94%));
  font-weight: bold;
  font-size: 0.75em;
  padding-block: 0.1em;
  padding-inline: 0.3em;
  border: 1px solid;
  border-radius: 0.5em;
  margin-inline: 0.2em;
}

blockquote {
  position: relative;
}

blockquote::before {
  content: "";
  display: block;
  position: absolute;
  inset-inline-start: -16px;
  inline-size: 4px;
  block-size: 100%;
  background: hsl(216deg 100% 80%);
}

code {
  border-radius: 4px;
  background: hsl(0deg 0% 95%);
  padding: 1px 3px 2px;
  hyphens: none;
}

code.hljs {
  font-size: 0.85em;
}

code:not(.hljs) {
  line-height: 1.5;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(360px, 100%), 1fr));
  grid-gap: 16px;
  inline-size: min(100% - 16px, 1440px);
  margin-inline: auto;
  margin-block-end: 16px;
}

.skeleton-line {
  block-size: 16px;
  margin-block: 16px;
  animation: shimmer 1s alternate infinite;
  background: hsl(0deg 0% 50%);
}

@keyframes shimmer {
  100% {
    background: hsl(0deg 0% 75%);
  }
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  border: solid hsl(0deg 0% 55% / 0.1);
  border-radius: 16px;
  box-shadow:
    0px 1px 1.1px hsl(0deg 0% 69% / 0.17),
    0px 2.3px 2.6px -0.6px hsl(0deg 0% 69% / 0.17),
    0px 4.3px 4.8px -1.2px hsl(0deg 0% 69% / 0.17),
    0px 8.4px 9.5px -1.9px hsl(0deg 0% 69% / 0.17),
    0.1px 16px 18px -2.5px hsl(0deg 0% 69% / 0.17);
  background: hsl(216deg 40% 95% / 0.5);
  transition: border-color 700ms, background-color 700ms;
  position: relative;
}

.card > * {
  margin: 0; /* Margins for children elements are already handled by gap in .card */
  background: transparent;
}

.card:hover, .card:focus-within {
  border: solid transparent;
  background: hsl(216deg 40% 95% / 0.95);
  transition: border-color 250ms, background-color 250ms;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-radius: 18px;
  --shade: 50% 70%;
  background: conic-gradient(hsl(360deg var(--shade)),
      hsl(315deg var(--shade)),
      hsl(270deg var(--shade)),
      hsl(225deg var(--shade)),
      hsl(180deg var(--shade)),
      hsl(135deg var(--shade)),
      hsl(90deg var(--shade)),
      hsl(45deg var(--shade)),
      hsl(0deg var(--shade)));
  opacity: 0;
  transition: opacity 600ms;
}

.card:hover::before,
.card:focus-within::before {
  opacity: 1;
  transition: opacity 400ms;
}

.subtitle {
  margin-block: -8px;
  font-size: 0.875em;
  font-weight: 300;
  color: hsl(216deg 20% 40%);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  padding: 0;
}

.tag {
  padding-block: 4px;
}

.tag > a {
  padding-block: 4px;
  padding-inline: 6px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875em;
  background: hsl(216deg 50% 90%);
  transition: background-color 600ms;
}

.tag > a:hover, .tag > a:focus-within  {
  background: hsl(30deg 80% 90%);
  transition: background-color 200ms;
}

::highlight(search) {
  background: hsl(30deg 80% 90%);
}

.post {
  inline-size: min(100% - 2rem, 1440px);
  margin-inline: auto;
}

.post p {
  font-size: 1rem;
  line-height: 1.5;
}

dialog {
  position: fixed;
  inset-block-end: 8px;
  inset-inline: 8px;
  background: hsl(50deg 72% 80%);
  padding: 8px;
  border: solid hsl(50deg 72% 55% / 0.1);
  border-radius: 12px;
  box-shadow:
    0px 1px 1.1px hsl(50deg 72% 69% / 0.17),
    0px 2.3px 2.6px -0.6px hsl(50deg 72% 69% / 0.17),
    0px 4.3px 4.8px -1.2px hsl(50deg 72% 69% / 0.17),
    0px 8.4px 9.5px -1.9px hsl(50deg 72% 69% / 0.17),
    0.1px 16px 18px -2.5px hsl(50deg 72% 69% / 0.17);
}

dialog div {
  display: flex;
  gap: 8px;
  align-items: center;
}

dialog div > button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  background: hsl(216deg 100% 80%);
  padding: 8px;
  border: 1px hsl(216deg 100% 70%) solid;
  border-radius: 12px;
  transition: 0.15s;
}

dialog div > button:hover, dialog div > button:focus-within {
  filter: brightness(110%);
}
